<header class="app-header">
        <div class="app-header__anchor"><span class="app-header__anchor__text">Cyber-Hell</span></div>
        <nav>
          <ul class="nav">
            <li class="nav__item">
              <a class="nav__link" href="#"><span class="nav__link__element">Home</span></a>
            </li>
            <li class="nav__item">
              <a class="nav__link nav__link--active"  routerLink="/user/messages">
                <span class="nav__link__element" >Messages</span><span class="nav__link__element"><span
                    class="badge">11</span></span>
              </a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#"><span class="nav__link__element">Shop</span></a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#"><span class="nav__link__element">Map</span></a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#"><span class="nav__link__element">Files</span></a>
            </li>
          </ul>
        </nav>
        <div></div>
      </header>