<header class="app-header">
        <div class="app-header__anchor"><span class="app-header__anchor__text">Cyber-Hell</span></div>
        <nav>
          <ul class="nav">
            <li class="nav__item">
              <a class="nav__link" routerLinkActive='nav__link--active' [routerLinkActiveOptions]="{ exact: true }" routerLink="/viewer"><span class="nav__link__element">Home</span></a>
            </li>
            <li class="nav__item">
              <a class="nav__link" routerLinkActive='nav__link--active' [routerLinkActiveOptions]="{ exact: true }" routerLink="/viewer/post"><span class="nav__link__element">All POSTS</span></a>
            </li>

            <li class="nav__item" *ngIf="_userDetails">
              <a class="nav__link" routerLinkActive='nav__link--active' [routerLink]="'/viewer/post/'+_userDetails.id">
                <span class="nav__link__element">My Posts</span><span class="nav__link__element">
                  <span *ngIf="_userDetails && mypost && mypost.length" class="badge">{{mypost.length}}</span></span></a>
            </li>
            <li class="nav__item">
              <a class="nav__link " routerLinkActive='nav__link--active' [routerLinkActiveOptions]="{ exact: true }" routerLink="/viewer/user">
                <span class="nav__link__element" >User</span><span class="nav__link__element"></span>
              </a>
            </li>
            <li class="nav__item">
              <a class="nav__link" routerLinkActive='nav__link--active' [routerLinkActiveOptions]="{ exact: true }" routerLink="/viewer/todo"><span class="nav__link__element">TO-DO</span></a>
            </li>
          </ul>
        </nav>
        <div></div>
      </header>