<div class="pad" [ngClass]="getUserInfo()">
    <div class="pad__body">
      <h4 class="text-heading3 undefined"><span *ngIf="isUserAvailable">User Details</span> <span *ngIf="!isUserAvailable">What's this?</span></h4>
      <p class="text-paragraph1 undefined" *ngIf="!isUserAvailable">A <em>fake</em> Slack or Discord type of app inspired by Cyberpunk
        2077. This app is static, eg. not implementing much logic.</p>
        <p class="text-paragraph1 undefined" *ngIf="isUserAvailable">
          Name : {{loggedInUser.name}}
        </p>
        <p class="text-paragraph1 undefined" *ngIf="isUserAvailable">
          Status : {{loggedInUser.status|uppercase}}
        </p>
    </div>
  </div>