.post-main{
    .post-view{
        background: rgba(0,0,0,.4);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.5);
        border-radius: 10px;
        margin: 1.2rem 0.5em;
        padding: 1rem;
        .post-header{
            font-weight: bolder;
        }
        .post-body{
            margin: 1rem;
        }
    }

    .post-view:hover{
        background-color: var(--colors-secondary--500);
        transform: scale(1.01);
        transition: 0.3s;
        color:var(--colors-primary--900);
        box-shadow: 0 15px 25px rgba(74, 8, 43, 0.869);
    }
}