<div class="segment-topbar">
    <div class="segment-topbar__header">
      <h3 class="text-heading3 segment-topbar__title">{{dispaly|uppercase}}</h3>
    </div>
    <div class="segment-topbar__aside">
      <div class="button-toolbar">
        <a class="button button--primary button--size-lg">
          <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  
  <div class="nav-section">
    <div class="nav-section__header">
      <h2 class="nav-section__title">Fake APIs</h2>
    </div>
    <div class="nav-section__body">
      <ul class="nav">
        <li class="nav__item" *ngFor="let api of FakeApiList" routerLinkActive='nav__link--active' [routerLinkActiveOptions]="{ exact: true }" [routerLink]="api.apiUrl">
          <a class="nav__link" >
            <span class="channel-link conversation-link--unread">
              <span class="channel-link__icon">#</span><span class="channel-link__element">{{api.apiName}}</span><span
                class="channel-link__element"><span class="badge"></span></span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="nav-section">
    <div class="nav-section__header">
      <h2 class="nav-section__title">Go REST APIs</h2>
    </div>
    <div class="nav-section__body">
      <ul class="nav">
        <li class="nav__item" *ngFor="let api of goRestApiList" routerLinkActive='nav__link--active' [routerLinkActiveOptions]="{ exact: true }" [routerLink]="api.apiUrl">
          <a class="nav__link" >
            <span class="channel-link conversation-link--unread">
              <span class="channel-link__icon">#</span><span class="channel-link__element">{{api.apiName}}</span><span
                class="channel-link__element"><span class="badge"></span></span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>