
<div class="channel-feed__body">
    <div class="message">
        <div class="message__body">
            <div>I got a gig lined up in Watson, no biggie. If you prove useful, expect more side gigs coming your
                way. I need a half-decent netrunner. Hit me up, provide credentials, eddies on completion.</div>
        </div>
        <div class="message__footer"><span class="message__authoring">V. M. Vargas</span> - 11:04pm</div>
    </div>
    <div class="message">
        <div class="message__body">
            <div>I got a gig lined up in Watson, no biggie. If you prove useful, expect more side gigs coming your
                way. I need a half-decent netrunner. Hit me up, provide credentials, eddies on completion.</div>
        </div>
        <div class="message__footer"><span class="message__authoring">V. M. Vargas</span> - 11:04pm</div>
    </div>
</div>